/* Products */
#Products {
    width: 100%;
    height: auto;
    margin-top: 200px;
}

#Products .Products_in {
    width: 1280px;
    height: auto;
    margin: auto;
}

#Products .Products_in .Products_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Products .Products_in .Products_content .Products_tit {
    text-align: center;
}

#Products .Products_in .Products_content .Products_tit h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 36px;
}

#Products .Products_in .Products_content .Products_tit ul {
    display: flex;
    width: 560px;
    justify-content: space-between;
    margin-top: 27px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #888888;
}

#Products .Products_in .Products_content .Products_tit ul .click {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #ed1c24;
    border-bottom: solid #ed1c24 3px;
    padding-bottom: 6px;
}

#Products .Products_in .Products_img1 {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}

#Products .Products_in .Products_img1 li {
    position: relative;
    width: 298px;
    height: 398px;
    border: solid #eee 1px;
}

#Products .Products_in .Products_img1 li div {
    position: relative;
    width: 100%;
    height: 295px;
    text-align: center;
    background-image: url(/srcs/images/Q.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}

#Products .Products_in .Products_img1 li .new {
    position: absolute;
    top: 26px;
    left: 22px;
    display: block;
}

#Products .Products_in .Products_img1 li p {
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 1310px) {
    #Products {
        margin-top: 120px;
    }

    #Products .Products_in {
        width: calc(100% - 30px);
    }

    #Products .Products_in .Products_img1 ul {
        max-width: 297px;
        height: auto;
    } 

    #Products .Products_in .Products_img1 li {
        position: relative;
        border: solid #eee 1px;
        margin: auto 11px;
    }

    #Products .Products_in .Products_img1 li div {
        position: relative;
        width: 100%;
        height: 75%;
        text-align: center;
        background-image: url(/srcs/images/Q.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
    }
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 680px) {}


