* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#nav {
    width: 100%;
    height: auto;
    position: fixed;
    border-bottom: solid #eee 1px;
    background-color: #ffffff;
    z-index: 9999;
}

#nav .nav_in {
    width: 1280px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

#nav .nav_in .menuBtn {
    padding-bottom: 6px;
}

#nav .nav_in .menuBtn .menu {
    width: 500px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

#nav .nav_in .sideBtn {
    width: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .nav_in .sideBtn .language {
    border: solid #dddddd 1px;
    padding: 2px;
    border-radius: 30px;
    padding: 8px 16px 10px; 
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 13px;
    font-weight: 500;
}

#nav .nav_in .sideBtn .language img {
    vertical-align: middle;
    padding-left: 16px;
}

@media screen and (max-width: 1310px) {
    #nav .nav_in{width: calc(100% - 30px)}
}

@media screen and (max-width: 980px) {
    #nav .nav_in .menuBtn .menu {
        display: none;
    }

    #nav .nav_in .logo{
        width: 110px;
        height: 47.36px;
    }

    #nav .nav_in .sideBtn {
        display: flex;
    }

    .language {
        order: 1;
    }

    .Menu {
        order: 3;
    }

    .Search {
        order: 2;
    }

}

@media screen and (max-width: 680px) {
    #nav .nav_in .sideBtn {
        width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav .nav_in .logo{
        width: 85px;
        height: 36.59px;
    }
}