/* Products */
#Products {
    width: 100%;
    height: auto;
    margin-top: 200px;
}

#Products .Products_in {
    width: 1280px;
    height: auto;
    margin: auto;
}

#Products .Products_in .Products_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Products .Products_in .Products_content .Products_tit {
    text-align: center;
}

#Products .Products_in .Products_content .Products_tit h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 36px;
}

#Products .Products_in .Products_content .Products_tit ul {
    display: flex;
    width: 560px;
    justify-content: space-between;
    margin-top: 27px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #888888;
}

#Products .Products_in .Products_content .Products_tit ul .click {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #ed1c24;
    border-bottom: solid #ed1c24 3px;
    padding-bottom: 6px;
}

#Products .Products_in .Products_img1 {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}

#Products .Products_in .Products_img1 li {
    position: relative;
    width: 298px;
    height: 398px;
    border: solid #eee 1px;
}

#Products .Products_in .Products_img1 li div {
    position: relative;
    width: 100%;
    height: 295px;
    background-repeat: no-repeat;
    background-position: 50%;
}

#Products .Products_in .Products_img1 li .new {
    position: absolute;
    top: 26px;
    left: 22px;
    display: block;
}

#Products .Products_in .Products_img1 li p {
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 1310px) {
    #Products {
        margin-top: 120px;
    }

    #Products .Products_in {
        width: calc(100% - 30px);
    }

    #Products .Products_in .Products_img1 ul {
        max-width: 297px;
        height: auto;
    } 

    #Products .Products_in .Products_img1 li {
        position: relative;
        border: solid #eee 1px;
        margin: auto 11px;
        height: auto;
        padding: 10px 5px 40px;
    }

    #Products .Products_in .Products_img1 li p {
        font-size: 19px;
    }

    #Products .Products_in .Products_img1 li div {
        position: relative;
        width: 100%;
        height: 75%;
        text-align: center;
        /* background-image: url(/srcs/images/Q.jpg); */
        background-repeat: no-repeat;
        background-position: 50%;
    }

    #Products .Products_in .Products_img1 li div img {
        max-width: 100%;
    }

    #Products .Products_in .Products_img1 li .new {
        position: absolute;
        max-width: 100%;
        height: auto;
        display: block;
        top: 4%;
        left: 6%;
    }
}

@media screen and (max-width: 980px) {
    #Products {
        width: 100%;
        height: auto;
        margin-top: 56px;
    }

    #Products .Products_in .Products_content {
        position: relative;
    }

    #Products .Products_in .Products_content .produsts_prev {
        width: 28px;
        height: 36px;
        padding-bottom: 70px;
    }

    #Products .Products_in .Products_content .Products_tit h3 {
        font-size: 28px;
    }

    #Products .Products_in .Products_content .Products_tit h3 img {
        width: 110px;
        height: 20.42px;
    }

    #Products .Products_in .Products_content .Products_tit ul {
        font-size: 15px;
        margin: 20px 0 25px;
        max-width: 460px;
    }

    #Products .Products_in .Products_content .Products_tit ul .click {
        font-size: 15px;
    }

    #Products .Products_in .Products_img1 {
        margin-top: 8px;
    }

    #Products .Products_in .Products_img1 li {
        padding-bottom: 34px;
    }

    #Products .Products_in .Products_img1 .del_1 {
        display: none;
    }

    #Products .Products_in .Products_img1 li .new {
        width: 40px;
        height: 22.3px;
    }
}

@media screen and (max-width: 680px) {
    #Products {
        margin-top: 50px;
    }
    #Products .Products_in .Products_content .Products_tit h3 {
        font-size: 24px;
    }

    #Products .Products_in .Products_content .Products_tit h3 img {
        width: 95px;
        height: 17.64px;
    }

    #Products .Products_in .Products_content .produsts_prev {
        width: 20px;
        height: 26px;
        padding-bottom: 74px;
    }

    #Products .Products_in .Products_content .Products_tit ul {
        font-size: 14px;
        margin: 20px 0 25px;
        max-width: 380px;
    }

    #Products .Products_in .Products_img1 .del_2 {
        display: none;
    }

    #Products .Products_in .Products_img1 li {
        margin: auto 5px;
        padding-bottom: 30px;
        padding-top: 0;
    }

    #Products .Products_in .Products_img1 li .new {
        top: 6%;
    }

    #Products .Products_in .Products_img1 li p {
        font-size: 15px;
    }

}


